<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePath" value="C:\\Users\\santhosekumar.s\\Documents\\Santhose\\test"/>
    <add key="TargetPath" value="C:\\Users\\santhosekumar.s\\Documents\\Santhose\\test1"/>
    <add key="ErrorLogPath" value="C:\\Users\\santhosekumar.s\\Documents\\Santhose\\ErrorLog"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>

